@page "/settings"

<div style="display: flex; align-items: center; position: relative; justify-content: center;">
    <h3>@LocalizationService["Settings"]</h3>
</div>

<div class="scrollable-form">
    <div class="clearfix20"></div>
    <div class="input-group">
        <select class="form-control w-100" @onchange="OnLanguageChanged">
            @foreach (var language in LanguageList)
            {
                <option value="@language.LanguageCode"
                        selected="@(AppState.SelectedLanguageCode == language.LanguageCode ? "selected" : null)">
                    @LanguageStateService.GetFlagEmoji(language.LanguageCode) @language.LanguageName
                </option>
            }
        </select>
    </div>
    <div class="clearfix20"></div>
    <div class="input-group no-border d-flex justify-content-between align-items-center">
        <span>@LocalizationService["DarkMode"]</span>
        <label class="switch">
            <input type="checkbox" @bind="IsDarkMode">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="clearfix20"></div>
    <button class="btn btn-outline-primary w-100" @onclick="SaveSettings">Save Settings</button>
    <div class="clearfix20"></div>
</div>